/* Font definitions with unicode-range exclusion for broken glyphs (apostrophes, quotes) */

/* Recoleta: Exclude 0022("), 0027('), smart quotes, AND NUMBERS 0-9 (0030-0039) */
/* This forces the browser to use the next font in the stack for these chars */
@font-face {
  font-family: 'Recoleta';
  src: url('../assets/Font/font titoli/recoleta/fonts/fonnts.com-recoleta-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  /* Excludes: " ' 0 1 2 3 4 5 6 7 8 9 and smart quotes */
  unicode-range: U+0000-0021, U+0023-0026, U+0028-002F, U+003A-2017, U+2020-FFFF;
}
@font-face {
  font-family: 'Recoleta';
  src: url('../assets/Font/font titoli/recoleta/fonts/fonnts.com-recoleta-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  /* Excludes: " ' 0 1 2 3 4 5 6 7 8 9 and smart quotes */
  unicode-range: U+0000-0021, U+0023-0026, U+0028-002F, U+003A-2017, U+2020-FFFF;
}

/* Articulat CF: applying same safety exclusion */
@font-face {
  font-family: 'Articulat CF';
  src: url('../assets/Font/font corpo/articulat/articulat-cf-normal.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-0021, U+0023-0026, U+0028-2017, U+2020-FFFF;
}
@font-face {
  font-family: 'Articulat CF';
  src: url('../assets/Font/font corpo/articulat/articulat-cf-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-0021, U+0023-0026, U+0028-2017, U+2020-FFFF;
}

@font-face {
  font-family: 'CampusByNight';
  src: url('../assets/Font/font campusbynight/CampusByNight-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
