.swipePage {
    animation: swipeIn 0.4s ease-in-out;
  }
  
  @keyframes swipeIn {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  